<q-expansion-item
  group="extras"
  icon="swap_vertical_circle"
  label="Info"
  :content-inset-level="0.5"
>
  <q-card>
    <q-card-section>
      <h5 class="text-subtitle1 q-my-none">
        Bets4Sats lets you bid on a competition and pays out rewards to the winner/s.
      </h5>
      <p>
        This extension allows you to manage bets between friends on your competitions.
        Each user chooses an option to bet on as well as a lightning-address or a lnurlp 
        (must be on another lnbits instance) to receive the price. When the admin of the 
        competition sets the option that has won it will trigger those reward/s to be send.<br />
        Bets4Sats comes with a shareable ticket scanner, that can be used to
        look up tickets (i.e. in case of a question).<br />
        <br />
        Competition States:<br />
        - INITIAL: No winning option selected yet<br />
        - COMPLETED_PAYING: Winning choice was selected. If cancelled refunds will be paid out.<br />
        - COMPLETED_PAID: All winners found.<br />
        <br />
        Ticket States:<br />
        - INITIAL: Winning option was not selected yet.<br />
        - LOST: This Ticket has made a wrong bet.<br />
        - WON_UNPAID: This ticket is from a winner! Searching more.. <br />
        - WON_PAYING: This option has won, start paying out the price..<br />
        - WON_PAYMENT_FAILED: Paymemt to winner failed.<br />
        - WON_PAID: Payment to winner successful.<br />
        - CANCELLED_UNPAID, CANCELLED_PAYING, CANCELLED_PAYMENT_FAILED, CANCELLED_PAID: Same
        as WON_UNPAID, WON_PAYING, WON_PAYMENT_FAILED, WON_PAID, but in case the competition
        was cancelled and the user deserves to get a refund instead of a reward.<br />
        <small>
          <br />
          Created by
          <a class="text-secondary" href="https://github.com/oren-z0">Oren-Z0</a>
          - Forked from the
          <a class="text-secondary" href="https://github.com/lnbits/events">Events</a>
          extension that was created by
          <a class="text-secondary" href="https://github.com/benarc">Ben Arc</a>.
          <br />
          Logo: Icons made by <a class="text-secondary" href="https://www.flaticon.com/authors/freepik">Freepik</a>
          from <a class="text-secondary" href="https://www.flaticon.com">www.flaticon.com</a>.
        </small>
      </p>
    </q-card-section>
  </q-card>
  <q-btn flat label="Swagger API" type="a" href="../docs#/Bets4Sats"></q-btn>
</q-expansion-item>
