<q-expansion-item
  group="extras"
  icon="swap_vertical_circle"
  label="Info"
  :content-inset-level="0.5"
>
  <q-card>
    <q-card-section>
      <h5 class="text-subtitle1 q-my-none">
        Bookie: Sell and register ticket waves for a competition
      </h5>
      <p>
        Bookie allows you to manage bets between friends on competitions.
        Each user chooses an option to bet on, fills a lightning-address to receive
        the winning reward, and sends an amount of sats.
        Bookie comes with a shareable ticket scanner, which can be used to
        quickly find a ticket (i.e. in case of a dispute).<br />
        <small>
          Created by
          <a class="text-secondary" href="https://github.com/oren-z0">Oren-Z0</a>
          - Forked from the
          <a class="text-secondary" href="https://github.com/lnbits/events">Events</a>
          extension that was created by
          <a class="text-secondary" href="https://github.com/benarc">Ben Arc</a>
        </small>
      </p>
    </q-card-section>
  </q-card>
  <q-btn flat label="Swagger API" type="a" href="../docs#/Bookie"></q-btn>
</q-expansion-item>
