<q-expansion-item
  group="extras"
  icon="swap_vertical_circle"
  label="Info"
  :content-inset-level="0.5"
>
  <q-card>
    <q-card-section>
      <h5 class="text-subtitle1 q-my-none">
        Bookie: Sell tickets for bets on competitions and pay rewards automatically
      </h5>
      <p>
        Bookie allows you to manage bets between friends on competitions.
        Each user chooses an option to bet on, fills a lightning-address to receive
        the winning reward, and sends an amount of sats.
        Bookie comes with a shareable ticket scanner, which can be used to
        quickly find a ticket (i.e. in case of a dispute).<br />
        Competition States:<br />
        - INITIAL: Winning choice was not selected yet by the manager.<br />
        - COMPLETED_PAYING: Winning choice was selected by the manager or the manager
        decided to cancel the competition - iterating over users to try to pay rewards
        or refunds.<br />
        - COMPLETED_PAID: Iterating over the users has completed.<br />
        Ticket States:<br />
        - INITIAL: Winning choice was not selected yet.<br />
        - LOST: Ticket choice has lost.<br />
        - WON_UNPAID: Ticket choice has won, iteration over winning users has not reached
        this user yet. <br />
        - WON_PAYING: Ticket choice has won, trying to pay reward to user.<br />
        - WON_PAYMENT_FAILED: Reward payment failed.<br />
        - WON_PAID: Reward payment succeeded.<br />
        - CANCELLED_UNPAID, CANCELLED_PAYING, CANCELLED_PAYMENT_FAILED, CANCELLED_PAID: Same
        as WON_UNPAID, WON_PAYING, WON_PAYMENT_FAILED, WON_PAID, but in case the competition
        was cancelled and the user deserves to get a refund instead of a reward.<br />
        <small>
          Created by
          <a class="text-secondary" href="https://github.com/oren-z0">Oren-Z0</a>
          - Forked from the
          <a class="text-secondary" href="https://github.com/lnbits/events">Events</a>
          extension that was created by
          <a class="text-secondary" href="https://github.com/benarc">Ben Arc</a>
        </small>
      </p>
    </q-card-section>
  </q-card>
  <q-btn flat label="Swagger API" type="a" href="../docs#/Bookie"></q-btn>
</q-expansion-item>
