<q-expansion-item
  group="extras"
  icon="swap_vertical_circle"
  label="Info"
  :content-inset-level="0.5"
>
  <q-card>
    <q-card-section>
      <h5 class="text-subtitle1 q-my-none">
        Bookie: Sell and register ticket waves for a competition
      </h5>
      <p>
        Bookie allows you to arrange bets with friends on competitions.
        Each ticket contains information on how much the user is betting, which
        option is the user betting on, what is the user's lightning address
        (to get the prize if won).
        Bookie comes with a shareable ticket scanner, which can be used to
        in case of a dispute.<br />
        <small>
          Created by,
          <a class="text-secondary" href="https://github.com/benarc">Ben Arc</a>
        </small>
      </p>
    </q-card-section>
  </q-card>
  <q-btn flat label="Swagger API" type="a" href="../docs#/competitions"></q-btn>
</q-expansion-item>
