{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-8 col-lg-7 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <q-btn unelevated color="primary" @click="formDialog.show = true"
          >New Competition</q-btn
        >
      </q-card-section>
    </q-card>

    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Competitions</h5>
          </div>
          <div class="col-auto">
            <q-btn flat color="grey" @click="exportcompetitionsCSV"
              >Export to CSV</q-btn
            >
          </div>
        </div>
        <q-table
          dense
          flat
          :data="competitions"
          row-key="id"
          :columns="competitionsTable.columns"
          :pagination.sync="competitionsTable.pagination"
        >
          {% raw %}
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>

              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.label }}
              </q-th>

              <q-th auto-width></q-th>
            </q-tr>
          </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="link"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  type="a"
                  :href="props.row.displayUrl"
                  target="_blank"
                ></q-btn>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="how_to_reg"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  type="a"
                  :href="'/bookie/register/' + props.row.wallet + '/' + props.row.id"
                  target="_blank"
                ></q-btn>
              </q-td>
              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.value }}
              </q-td>
              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="updateformDialog(props.row.id)"
                  icon="edit"
                  color="light-blue"
                ></q-btn>
              </q-td>
              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="deleteCompetition(props.row.id)"
                  icon="cancel"
                  color="pink"
                ></q-btn>
              </q-td>
            </q-tr>
          </template>
          {% endraw %}
        </q-table>
      </q-card-section>
    </q-card>

    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Tickets</h5>
          </div>
          <div class="col-auto">
            <q-btn flat color="grey" @click="exportticketsCSV"
              >Export to CSV</q-btn
            >
          </div>
        </div>
        <q-table
          dense
          flat
          :data="tickets"
          row-key="id"
          :columns="ticketsTable.columns"
          :pagination.sync="ticketsTable.pagination"
        >
          {% raw %}
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.label }}
              </q-th>
            </q-tr>
          </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="local_activity"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  type="a"
                  :href="'/bookie/ticket/' + props.row.id"
                  target="_blank"
                ></q-btn>
              </q-td>

              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.value }}
              </q-td>

              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="deleteTicket(props.row.id)"
                  icon="cancel"
                  color="pink"
                ></q-btn>
              </q-td>
            </q-tr>
          </template>
          {% endraw %}
        </q-table>
      </q-card-section>
    </q-card>
  </div>
  <div class="col-12 col-md-4 col-lg-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">
          {{SITE_TITLE}} Bookie extension
        </h6>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list> {% include "bookie/_api_docs.html" %} </q-list>
      </q-card-section>
    </q-card>
  </div>

  <q-dialog v-model="formDialog.show" position="top">
    <q-card class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <q-form @submit="sendCompetitionData" class="q-gutter-md">
        <div class="row">
          <div class="col">
            <q-input
              filled
              dense
              v-model.trim="formDialog.data.name"
              type="name"
              label="Title of competition "
            ></q-input>
          </div>
          <div class="col q-pl-sm">
            <q-select
              filled
              dense
              emit-value
              v-model="formDialog.data.wallet"
              :options="g.user.walletOptions"
              label="Wallet *"
            >
            </q-select>
          </div>
        </div>

        <q-input
          filled
          dense
          v-model.trim="formDialog.data.info"
          type="textarea"
          label="Info about the competition "
        ></q-input>
        <div class="row">
          <div class="col-4">Ticket closing date (UTC)</div>
          <div class="col-8">
            <q-input
              filled
              dense
              v-model.trim="formDialog.data.closing_date"
              type="date"
            ></q-input>
            <q-input
              filled
              dense
              v-model.trim="formDialog.data.closing_time"
              type="time"
            ></q-input>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <q-input
              filled
              dense
              v-model.number="formDialog.data.amount_tickets"
              type="number"
              label="Amount of tickets "
            ></q-input>
          </div>
        </div>

        <div class="row">
          <div class="col q-pl-sm">
            <q-input
              filled
              dense
              v-model.number="formDialog.data.min_bet"
              type="number"
              label="Min bet in sats "
            ></q-input>
          </div>
          <div class="col q-pl-sm">
            <q-input
              filled
              dense
              v-model.number="formDialog.data.max_bet"
              type="number"
              label="Max bet in sats "
            ></q-input>
          </div>
        </div>

        <div class="row q-mt-lg">
          <q-btn
            v-if="formDialog.data.id"
            unelevated
            color="primary"
            type="submit"
            >Update Competition</q-btn
          >
          <q-btn
            v-else
            unelevated
            color="primary"
            :disable="formDialog.data.wallet == null || formDialog.data.name == null || formDialog.data.info == null || formDialog.data.closing_date == null || formDialog.data.closing_time == null || formDialog.data.amount_tickets == null || formDialog.data.min_bet == null || formDialog.data.max_bet == null || Number(formDialog.data.min_bet) <= 0 || Number(formDialog.data.max_bet) < Number(formDialog.data.min_bet) || 21_000_000_00_000_000 <= Number(formDialog.data.max_bet)"
            type="submit"
            >Create Competition</q-btn
          >
          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script>
  var mapCompetitions = function (obj) {
    obj.date = Quasar.utils.date.formatDate(
      new Date(obj.time * 1000),
      'YYYY-MM-DD HH:mm'
    )
    obj.fsat = new Intl.NumberFormat(LOCALE).format(obj.amount)
    obj.displayUrl = ['/bookie/', obj.id].join('')
    return obj
  }

  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data: function () {
      return {
        competitions: [],
        tickets: [],
        competitionsTable: {
          columns: [
            {name: 'id', align: 'left', label: 'ID', field: 'id'},
            {name: 'name', align: 'left', label: 'Name', field: 'name'},
            {name: 'info', align: 'left', label: 'Info', field: 'info'},
            {
              name: 'closing_datetime',
              align: 'left',
              label: 'Ticket close',
              field: 'closing_datetime'
            },
            {
              name: 'min_bet',
              align: 'left',
              label: 'Min bet',
              field: 'min_bet'
            },
            {
              name: 'max_bet',
              align: 'left',
              label: 'Max bet',
              field: 'max_bet'
            },
            {
              name: 'amount_tickets',
              align: 'left',
              label: 'No tickets',
              field: 'amount_tickets'
            },
            {
              name: 'sold',
              align: 'left',
              label: 'Sold',
              field: 'sold'
            }
          ],
          pagination: {
            rowsPerPage: 10
          }
        },
        ticketsTable: {
          columns: [
            {name: 'id', align: 'left', label: 'ID', field: 'id'},
            {name: 'competition', align: 'left', label: 'Competition', field: 'competition'},
            {name: 'reward_target', align: 'left', label: 'Reward Target', field: 'reward_target'},
            {name: 'amount', align: 'left', label: 'Amount (sats)', field: 'amount'}
          ],
          pagination: {
            rowsPerPage: 10
          }
        },
        formDialog: {
          show: false,
          data: {}
        }
      }
    },
    methods: {
      getTickets: function () {
        var self = this
        LNbits.api
          .request(
            'GET',
            '/bookie/api/v1/tickets?all_wallets=true',
            this.g.user.wallets[0].inkey
          )
          .then(function (response) {
            self.tickets = response.data.map(function (obj) {
              return mapCompetitions(obj)
            })
          })
      },
      deleteTicket: function (ticketId) {
        var self = this
        var tickets = _.findWhere(this.tickets, {id: ticketId})

        LNbits.utils
          .confirmDialog('Are you sure you want to delete this ticket')
          .onOk(function () {
            LNbits.api
              .request(
                'DELETE',
                '/bookie/api/v1/tickets/' + ticketId,
                _.findWhere(self.g.user.wallets, {id: tickets.wallet}).inkey
              )
              .then(function (response) {
                self.tickets = _.reject(self.tickets, function (obj) {
                  return obj.id == ticketId
                })
              })
              .catch(function (error) {
                LNbits.utils.notifyApiError(error)
              })
          })
      },
      exportticketsCSV: function () {
        LNbits.utils.exportCSV(this.ticketsTable.columns, this.tickets)
      },

      getCompetitions: function () {
        var self = this

        LNbits.api
          .request(
            'GET',
            '/bookie/api/v1/competitions?all_wallets=true',
            this.g.user.wallets[0].inkey
          )
          .then(function (response) {
            self.competitions = response.data.map(function (obj) {
              return mapCompetitions(obj)
            })
          })
      },
      sendCompetitionData: function () {
        var wallet = _.findWhere(this.g.user.wallets, {
          id: this.formDialog.data.wallet
        })
        const { closing_date, closing_time, ...other } = this.formDialog.data
        const data = {
          ...other,
          closing_datetime: `${closing_date}T${closing_time}:00.000Z`,
          choices: JSON.stringify([{ "title": "Team A" }, { "title": "Team B" }]),
        }

        if (data.id) {
          this.updateCompetition(wallet, data)
        } else {
          this.createCompetition(wallet, data)
        }
      },

      createCompetition: function (wallet, data) {
        var self = this
        LNbits.api
          .request('POST', '/bookie/api/v1/competitions', wallet.inkey, data)
          .then(function (response) {
            self.competitions.push(mapCompetitions(response.data))
            self.formDialog.show = false
            self.formDialog.data = {}
          })
          .catch(function (error) {
            LNbits.utils.notifyApiError(error)
          })
      },
      updateformDialog: function (formId) {
        var link = _.findWhere(this.competitions, {id: formId})
        const { closing_datetime, ...data } = link;
        this.formDialog.data = {
          ...data,
          closing_date: closing_datetime.split('T')[0],
          closing_time: closing_datetime.split('T')[1].slice(0, 5),
        }
        this.formDialog.show = true
      },
      updateCompetition: function (wallet, data) {
        var self = this
        console.log(data)

        LNbits.api
          .request(
            'PUT',
            '/bookie/api/v1/competitions/' + data.id,
            wallet.inkey,
            data
          )
          .then(function (response) {
            self.competitions = _.reject(self.competitions, function (obj) {
              return obj.id == data.id
            })
            self.competitions.push(mapCompetitions(response.data))
            self.formDialog.show = false
            self.formDialog.data = {}
          })
          .catch(function (error) {
            LNbits.utils.notifyApiError(error)
          })
      },
      deleteCompetition: function (competitionsId) {
        var self = this
        var competitions = _.findWhere(this.competitions, {id: competitionsId})

        LNbits.utils
          .confirmDialog('Are you sure you want to delete this competition? First make sure all the winning players have received their prize.')
          .onOk(function () {
            LNbits.api
              .request(
                'DELETE',
                '/bookie/api/v1/competitions/' + competitionsId,
                _.findWhere(self.g.user.wallets, {id: competitions.wallet}).inkey
              )
              .then(function (response) {
                self.competitions = _.reject(self.competitions, function (obj) {
                  return obj.id == competitionsId
                })
              })
              .catch(function (error) {
                LNbits.utils.notifyApiError(error)
              })
          })
      },
      exportcompetitionsCSV: function () {
        LNbits.utils.exportCSV(this.competitionsTable.columns, this.competitions)
      }
    },

    created: function () {
      if (this.g.user.wallets.length) {
        this.getTickets()
        this.getCompetitions()
      }
    }
  })
</script>
{% endblock %}
